.InputType {
  border-radius: 0.2rem;
  padding-left: 5px;
  border: 1px solid black;
  font: 1em sans-serif;
}

.ErrorInput{
    padding-left: 5px;
    font: 1em sans-serif; 
    border: 1.2px solid red;
}
